<div class="character-card group bg-surface-container-lowest rounded-xl border border-outline-variant overflow-hidden hover:shadow-[0px_8px_30px_rgba(157,78,221,0.12)] transition-all duration-300  ">
  <div class="h-64 relative overflow-hidden bg-surface-dim">
    <img [src]="character().imageUrl" [alt]="character().imageAlt"
         class="character-image w-full h-full object-cover transition-transform duration-500" />
    <div class="absolute top-sm left-sm bg-primary/80 backdrop-blur-md text-on-primary px-sm py-xs rounded-lg flex items-center gap-xs">
      <span class="material-symbols-outlined text-[16px]" style="font-variation-settings: 'FILL' 1;">star</span>
      <span class="text-label-sm">Level {{ character().level }}</span>
    </div>
    <div class="absolute bottom-0 left-0 right-0 h-24 bg-linear-to-t from-surface-container-lowest to-transparent"></div>
  </div>
  <div class="p-md relative">
    <div class="flex justify-between items-start mb-sm">
      <div>
        <h3 class="text-headline-md text-on-surface">{{ character().name }}</h3>
        <p class="text-body-md text-on-surface-variant">{{ character().role }}</p>
      </div>
    </div>
    <div class="flex items-center gap-xs mb-md">
      @for (filled of starsArray; track $index) {
        @if (filled) {
          <span class="material-symbols-outlined text-primary text-[18px]" style="font-variation-settings: 'FILL' 1;">star</span>
        } @else {
          <span class="material-symbols-outlined text-outline-variant text-[18px]">star</span>
        }
      }
    </div>
    <div class="flex gap-sm">
      <div class="grow h-2 bg-surface-container rounded-full overflow-hidden">
        <div class="h-full bg-primary" [style.width]="character().xpLabel === 'MAX' ? '100%' : character().xpPercent + '%'"></div>
      </div>
      <span class="text-label-sm text-outline">{{ character().xpLabel }}</span>
    </div>
  </div>
</div>
